/* Step 2 Part A */
body {
    background - color: skyblue;
}


/* Step 3 Part A */

#igottabeme {
    font - family: "Arial", Helvetica, sans - serif;
}


/* Step 4 Part A */

.classy {
    margin - left: 10 px;
}


/* Step 5 Part B */

div {
    margin - bottom: 50 px;
}


/* Step 6 Part B */

span {
    height: 50 px;
    width: 100 px;
    padding - top: 5 px;
    padding - bottom: 5 px;
    padding - left: 20 px;
    padding - right: 20 px;
    border: 5 px solid blue;
    background - color: yellow;
}


/* Step 7 Part B */

span.a {}

span.b {
    position: relative;
    display: block;
}

span.c {
    position: relative;
    display: inline - block;
}


/* Step 8 Part C */

img[alt = "cat icon"] {
    position: fixed;
    right: 0;
    bottom: 0;
    z - index: 100;
}


/* Step 9 Part C */

img[alt = "dog icon"] {
    position: relative;
    left: -50 px;
    top: -150 px;
}


/* Step 10 Part C */

img[alt = "bird icon"] {
    position: relative;
    left: 250 px;
    top: 200 px;
}

#positionMe {
    background - color: orange;
}


/* Step 11 Part C */

nav {
    position: sticky;
    padding: 5 px;
    background - color: rgba(0, 255, 0, 0.9);
    font - size: 20 px;
    top: 0;
}


/* Step 12 Part D */
tr: nth - child(even) {
    background - color: gray;
}

tr: nth - child(odd) {
    background - color: white;
}

th {
    color: white;
    background - color: black;
}

td: hover {
    background - color: yellow;
}

td {
    text - align: right;
}


/* Step 13 Part D */

input[type = "text"]: focus {
    background - color: pink;
}


/* CSS Code Validator says I'm missing lang="en", doctype, and title, but these are not necessary for this code, and thus I've left those "errors" alone */
