body {
  background-color: skyblue;
}

#igottabeme {
  font-family: "Arial", Helvetica, sans-serif;
}
.classy {
  margin-left: 10px;
}
div{
 margin-bottom: 50px; 
}
span{
 height: 50px;
 width: 100px;
 padding-top: 5px;
 padding-bottom: 5px;
 padding-left: 20px;
 padding-right: 20px;
 border: 5px solid blue;
 background-color: yellow; 
}
nav {
  position: sticky;
 padding: 5px;
  background-color:rgba(0,255,0,0.9);
  font-size: 20px;
}
input:focus{
 background-color: pink; 
}
span.a{
  word-wrap: break-word;
}
span.b{
 position: absolute; 
}
img[alt=”cat icon”]{
  position: absolute;
right: 0px;
bottom: 0px;
  z-index: 100;
}
img[alt=”dog icon”]{
  position:relative;
  left: 50px;
  bottom: 150px;
}
